.learn {
    position: relative;
    float: left;
    margin: 10px;
}
.learn img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
}
.learn .act{
    position: relative;
    bottom: 90px;
    color: green;
}